@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

li > a {
  word-wrap: break-word;
}

mark {
  @apply rounded-md bg-blue-300 px-1.5 pt-[0.5] pb-1 dark:bg-green-400;
}

figure {
  @apply rounded-xl bg-gray-200 pb-1 dark:bg-gray-800;
  margin-bottom: 0px !important;
}

figure > div > span {
  @apply m-0 rounded-xl;
}

figure > figcaption {
  margin-top: 0px !important;
}

figure > figcaption > p {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
