// primary colour

$primary-00: #7d94b1;
$primary-02: #768eb7;
$primary-04: #6c84c2;
$primary-06: #566fd7;
$primary-10: #2f35ff;

// Secondary colour

$secondary-00: #5b6629;
$secondary-02: #596d21;
$secondary-04: #577a15;
$secondary-06: #528f00;
$secondary-10: #3a8f00;

// Accent colour

$accent-00: #b85974;
$accent-02: #c34d65;
$accent-04: #ff5582;
$accent-05: #ff5555;
$accent-06: #ff3012;
$accent-10: #fe131c;

$dark0:  #2e3440;
$dark1: #3b4252;
$dark2:  #434c5e;
$dark3:  #4c566a;
$dark4: #0f0e14; 
$dark5:  #0b0b0b;  

$light0: #d8dee9;
$light1: #e5e9f0;
$light2: #cacfd9;
$light3: #ffffff;
$light4: #f9fafb; 
$light5: #eff1f5; 

$frost0: #e69ca2; 
$frost1: #88c0d0;
$frost2: #81a1c1; 
$frost3: #f1ceD0;
